.supplier-container {
  padding: 20px;
}

/* Header căn giữa */
.supplier-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.supplier-header h2 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

/* Đưa nút Thêm sang bên phải */
.supplier-add-btn {
  position: absolute;
  right: 0;
}
